[submodule "src/zotero-libs/translate"]
	path = src/zotero-libs/translate
	url = https://github.com/zotero/translate.git
[submodule "src/zotero-libs/utilities"]
	path = src/zotero-libs/utilities
	url = https://github.com/zotero/utilities.git
[submodule "src/zotero-libs/translators"]
	path = src/zotero-libs/translators
	url = https://github.com/zotero/translators.git
